@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script", "sans-serif";
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Pen Script", "sans-serif";
}

.btn-default {
  background-color: #ececec;
  color: #000;
}

.btn-positive {
  background-color: #64c964;
  color: #fff;
}

.btn-negative {
  background-color: #fd565f;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 20px;
}

h2 {
  margin: 0;
}

.content {
  padding: 20px;
}

.list-filter {
  display: flex;
  gap: 10px;
}

select {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Pen Script", "sans-serif";
  background-color: #ececec;
}

.list-filter button {
  flex-grow: 1;
}

.diary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
}

p {
  margin: 0;
}

.diary .diary-cont {
  flex-grow: 1;
}

.diary .img-wrap img {
  height: 80px;
}

.diary .diary-cont p:first-child {
  font-weight: 800;
}